{% extends 'users/base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<h1>Установка нового пароля</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label>Новый пароль</label>
        <input type="password" name="password1" class="form-control" required>
    </div>
    <div>
        <label>Подтверждение пароля</label>
        <input type="password" name="password2" class="form-control" required>
    </div>
    <button type="submit" class="btn">Сохранить пароль</button>
</form>
{% endblock %}
